{% extends '__base__.html' %}

{% block title %}编辑日志{% endblock title %}

{% block beforehead %}
<link rel="stylesheet" href="/static/css/manage-blog-edit.css">
{% endblock beforehead %}

{% block content %}
<nav class="nav d-flex justify-content-center mb-4">
  <span class="p-2 text-muted">编写日志</span>
  <a class="p-2" href="/manage/blogs">日志管理</a>
  <a class="p-2" href="/manage/comments">评论管理</a>
  <a class="p-2" href="/manage/users">用户管理</a>
</nav>

<form class="form-blog needs-validation" id="vm" v-on:submit.prevent="onSubmit" novalidate>
  <p class="server-feedback text-center" id="error"></p>
  <div class="mb-3">
    <label for="inputName" class="sr-only">标题</label>
    <input type="text" class="form-control" id="inputName" v-model="name" placeholder="请输入标题" required>
    <div class="invalid-feedback">请输入正确的标题</div>
  </div>
  <div class="mb-3">
    <label for="inputAuthor" class="sr-only">作者</label>
    <input type="text" class="form-control" id="inputAuthor" v-model="author" placeholder="请输入作者" required>
    <div class="invalid-feedback">请输入正确的作者</div>
  </div>
  <div class="mb-3">
    <label for="inputDynasty" class="sr-only">朝代</label>
    <input type="text" class="form-control" id="inputDynasty" v-model="dynasty" placeholder="请输入朝代" required>
    <div class="invalid-feedback">请输入正确的朝代</div>
  </div>
  <div class="mb-3">
    <label for="inputSummary" class="sr-only">摘要</label>
    <textarea class="form-control" id="inputSummary" v-model="summary" placeholder="请输入摘要" rows="4" required></textarea>
    <div class="invalid-feedback">请输入正确的摘要</div>
  </div>
  <div class="mb-3">
    <label for="inputContent" class="sr-only">内容</label>
    <textarea class="form-control" id="inputContent" v-model="content" placeholder="请输入内容" rows="16"
      required></textarea>
    <div class="invalid-feedback">请输入正确的内容</div>
  </div>
  <div class="text-center"><button type="submit" class="btn btn-md btn-primary mt-2">发布</button></div>
</form>
{% endblock content %}

{% block beforebody %}
<script>var BLOG_ID = '{{ id }}';</script>
<script src="/static/js/manage-blog-edit.js"></script>
{% endblock beforebody %}