.form-container {
  height: 100%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
}

.form-signin {
  width: 100%;
  max-width: 320px;
  padding: 15px;
  margin: auto; /* auto 属性用来分配剩余空间，可以使元素居中 */
}

.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}

.form-signin .form-control:focus {
  z-index: 1; /* z-index 属性用来控制组件之间的覆盖情况 */
}

.server-feedback {
  display: none;
  width: 100%;
  font-size: 80%;
  color: #dc3545;
}